<div class="container">
    <div class="row">
        <div class="mx-auto text-center">
            <img src="oqtane-black.png" />
            <div style="font-weight: bold">Version: @Constants.Version</div>
        </div>
    </div>
    <hr class="app-rule" />
    <div class="row justify-content-center">
        <div class="col text-center">
            <h2>Database Configuration</h2><br />
            <table class="form-group" cellpadding="4" cellspacing="4" style="margin: auto;">
                <tbody>
                    <tr>
                        <td>
                            <label class="control-label" style="font-weight: bold">Database Type: </label>
                        </td>
                        <td>
                            <select class="custom-select" @bind="@DatabaseType">
                                <option value="LocalDB">Local Database</option>
                                <option value="SQLServer">SQL Server</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" style="font-weight: bold">Server: </label>
                        </td>
                        <td>
                            <input type="text" class="form-control" @bind="@ServerName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" style="font-weight: bold">Database: </label>
                        </td>
                        <td>
                            <input type="text" class="form-control" @bind="@DatabaseName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" style="font-weight: bold">Integrated Security: </label>
                        </td>
                        <td>
                            <select class="custom-select" @onchange="SetIntegratedSecurity">
                                <option value="true" selected>True</option>
                                <option value="false">False</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="@IntegratedSecurityDisplay">
                        <td>
                            <label class="control-label" style="font-weight: bold">Username: </label>
                        </td>
                        <td>
                            <input type="text" class="form-control" @bind="@Username" />
                        </td>
                    </tr>
                    <tr style="@IntegratedSecurityDisplay">
                        <td>
                            <label class="control-label" style="font-weight: bold">Password: </label>
                        </td>
                        <td>
                            <input type="password" class="form-control" @bind="@Password" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col text-center">
            <h2>Application Administrator</h2><br />
            <table class="form-group" cellpadding="4" cellspacing="4" style="margin: auto;">
                <tbody>
                    <tr>
                        <td>
                            <label class="control-label" style="font-weight: bold">Username: </label>
                        </td>
                        <td>
                            <input type="text" class="form-control" @bind="@HostUsername" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" style="font-weight: bold">Password: </label>
                        </td>
                        <td>
                            <input type="password" class="form-control" @bind="@HostPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" style="font-weight: bold">Confirm: </label>
                        </td>
                        <td>
                            <input type="password" class="form-control" @bind="@ConfirmPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" style="font-weight: bold">Email: </label>
                        </td>
                        <td>
                            <input type="text" class="form-control" @bind="@HostEmail" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr class="app-rule" />
    <div class="row">
        <div class="mx-auto text-center">
            <button type="button" class="btn btn-success" @onclick="Install">Install Now</button><br /><br />
            @((MarkupString) Message)
        </div>
        <div class="app-progress-indicator" style="@LoadingDisplay"></div>
    </div>
</div>
