@namespace Oqtane.Modules.Admin.SystemInfo
@inherits ModuleBase
@inject ISystemService SystemService
@inject IInstallationService InstallationService
@inject IStringLocalizer<Index> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

<TabStrip>
    <TabPanel Name="Info" Heading="Info" ResourceKey="Info">
        <div class="container">
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="version" HelpText="Framework Version" ResourceKey="FrameworkVersion">Framework Version: </Label>
                <div class="col-sm-9">
                    <input id="version" class="form-control" @bind="@_version" readonly />
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="clrversion" HelpText="Common Language Runtime Version" ResourceKey="CLRVersion">CLR Version: </Label>
                <div class="col-sm-9">
                    <input id="clrversion" class="form-control" @bind="@_clrversion" readonly />
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="osversion" HelpText="Operating System Version" ResourceKey="OSVersion">OS Version: </Label>
                <div class="col-sm-9">
                    <input id="osversion" class="form-control" @bind="@_osversion" readonly />
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="serverpath" HelpText="Server Path" ResourceKey="ServerPath">Server Path: </Label>
                <div class="col-sm-9">
                    <input id="serverpath" class="form-control" @bind="@_serverpath" readonly />
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="servertime" HelpText="Server Time" ResourceKey="ServerTime">Server Time: </Label>
                <div class="col-sm-9">
                    <input id="servertime" class="form-control" @bind="@_servertime" readonly />
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="installationid" HelpText="The Unique Identifier For Your Installation" ResourceKey="InstallationId">Installation ID: </Label>
                <div class="col-sm-9">
                    <input id="installationid" class="form-control" @bind="@_installationid" readonly />
                </div>
            </div>
        </div>
        <br /><br />
        <ActionDialog Header="Restart Application" Message="Are You Sure You Wish To Restart The Application?" Action="Restart Application" Security="SecurityAccessLevel.Host" Class="btn btn-danger" OnClick="@(async () => await RestartApplication())" ResourceKey="RestartApplication" />
    </TabPanel>
    <TabPanel Name="Options" Heading="Options" ResourceKey="Options">
        <div class="container">
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="detailederrors" HelpText="Specify If Detailed Errors Are Enabled For Blazor. This Option Should Not Not Be Enabled In Production." ResourceKey="DetailedErrors">Detailed Errors? </Label>
                <div class="col-sm-9">
                    <select id="detailederrors" class="form-select" @bind="@_detailederrors">
                        <option value="true">@SharedLocalizer["True"]</option>
                        <option value="false">@SharedLocalizer["False"]</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="logginglevel" HelpText="The Minimum Logging Level For The Event Log. This Option Can Be Used To Control The Volume Of Items Stored In Your Event Log." ResourceKey="LoggingLevel">Logging Level: </Label>
                <div class="col-sm-9">
                    <select id="logginglevel" class="form-select" @bind="@_logginglevel">
                        <option value="Trace">@Localizer["Trace"]</option>
                        <option value="Debug">@Localizer["Debug"]</option>
                        <option value="Information">@Localizer["Information"]</option>
                        <option value="Warning">@Localizer["Warning"]</option>
                        <option value="Error">@Localizer["Error"]</option>
                        <option value="Critical">@Localizer["Critical"]</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="swagger" HelpText="Specify If Swagger Is Enabled For Your Server API" ResourceKey="Swagger">Swagger Enabled? </Label>
                <div class="col-sm-9">
                    <select id="swagger" class="form-select" @bind="@_swagger">
                        <option value="true">@SharedLocalizer["True"]</option>
                        <option value="false">@SharedLocalizer["False"]</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="packageservice" HelpText="Specify If The Package Service Is Enabled For Installing Modules, Themes, And Translations" ResourceKey="PackageService">Enable Package Service? </Label>
                <div class="col-sm-9">
                    <select id="packageservice" class="form-select" @bind="@_packageservice">
                        <option value="true">@SharedLocalizer["True"]</option>
                        <option value="false">@SharedLocalizer["False"]</option>
                    </select>
                </div>
            </div>
        </div>
        <br /><br />
        <button type="button" class="btn btn-success" @onclick="SaveConfig">@SharedLocalizer["Save"]</button>&nbsp;
        <a class="btn btn-primary" href="swagger/index.html" target="_new">@Localizer["Access.ApiFramework"]</a>&nbsp;
        <ActionDialog Header="Restart Application" Message="Are You Sure You Wish To Restart The Application?" Action="Restart Application" Security="SecurityAccessLevel.Host" Class="btn btn-danger" OnClick="@(async () => await RestartApplication())" ResourceKey="RestartApplication" />
    </TabPanel>
</TabStrip>

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Host;

    private string _version = string.Empty;
    private string _clrversion = string.Empty;
    private string _osversion = string.Empty;
    private string _serverpath = string.Empty;
    private string _servertime = string.Empty;
    private string _installationid = string.Empty;

    private string _detailederrors = string.Empty;
    private string _logginglevel = string.Empty;
    private string _swagger = string.Empty;
    private string _packageservice = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _version = Constants.Version;

        Dictionary<string, string> systeminfo = await SystemService.GetSystemInfoAsync();
        if (systeminfo != null)
        {
            _clrversion = systeminfo["clrversion"];
            _osversion = systeminfo["osversion"];
            _serverpath = systeminfo["serverpath"];
            _servertime = systeminfo["servertime"];
            _installationid = systeminfo["installationid"];

            _detailederrors = systeminfo["detailederrors"];
            _logginglevel = systeminfo["logginglevel"];
            _swagger = systeminfo["swagger"];
            _packageservice = systeminfo["packageservice"];
        }
    }

    private async Task SaveConfig()
    {
        try
        {
            var settings = new Dictionary<string, string>();
            settings.Add("detailederrors", _detailederrors);
            settings.Add("logginglevel", _logginglevel);
            settings.Add("swagger", _swagger);
            settings.Add("packageservice", _packageservice);
            await SystemService.UpdateSystemInfoAsync(settings);
            AddModuleMessage(Localizer["Success.UpdateConfig.Restart"], MessageType.Success);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Configuration");
            AddModuleMessage(Localizer["Error.UpdateConfig"], MessageType.Error);
        }
    }

    private async Task RestartApplication()
    {
        try
        {
            ShowProgressIndicator();
            var interop = new Interop(JSRuntime);
            await interop.RedirectBrowser(NavigateUrl(""), 20);
            await InstallationService.RestartAsync();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Restarting Application");
        }
    }
}