@namespace Oqtane.Modules.Admin.SystemInfo
@inherits ModuleBase
@inject ISystemService SystemService

<div class="container">
    <form>
        <div class="form-group row">
            <div class="col-xl-3">
                <Label class="col-form-label" For="version" HelpText="Framework Version">Framework Version: </Label>
            </div>
            <div class="col-xl-9">
                <input id="version" class="form-control" @bind="@_version" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-3">
                <Label class="col-form-label" For="runtime" HelpText="Blazor Runtime (Server or WebAssembly)">Blazor Runtime: </Label>
            </div>
            <div class="col-xl-9">
                <input id="runtime" class="form-control" @bind="@_runtime" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-3">
                <Label class="col-form-label" For="clrversion" HelpText="Common Language Runtime Version">CLR Version: </Label>
            </div>
            <div class="col-xl-9">
                <input id="clrversion" class="form-control" @bind="@_clrversion" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-3">
                <Label class="col-form-label" For="osversion" HelpText="Operating System Version">OS Version: </Label>
            </div>
            <div class="col-xl-9">
                <input id="osversion" class="form-control" @bind="@_osversion" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-3">
                <Label class="col-form-label" For="serverpath" HelpText="Server Path">Server Path: </Label>
            </div>
            <div class="col-xl-9">
                <input id="serverpath" class="form-control" @bind="@_serverpath" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-3">
                <Label class="col-form-label" For="servertime" HelpText="Server Time">Server Time: </Label>
            </div>
            <div class="col-xl-9">
                <input id="servertime" class="form-control" @bind="@_servertime" readonly />
            </div>
        </div>
    </form>
</div>
<div class="container">
    <a class="btn btn-primary" href="swagger/index.html" target="_new">Access Framework API</a>
</div>

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Host;

    private string _version = string.Empty;
    private string _runtime = string.Empty;
    private string _clrversion = string.Empty;
    private string _osversion = string.Empty;
    private string _serverpath = string.Empty;
    private string _servertime = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _version = Constants.Version;
        _runtime = PageState.Runtime.ToString();

        Dictionary<string, string> systeminfo = await SystemService.GetSystemInfoAsync();
        if (systeminfo != null)
        {
            _clrversion = systeminfo["clrversion"];
            _osversion = systeminfo["osversion"];
            _serverpath = systeminfo["serverpath"];
            _servertime = systeminfo["servertime"];
        }
    }
}
