@namespace Oqtane.Modules.Admin.Roles
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IRoleService RoleService

<table class="table table-borderless">
    <tr>
        <td>
            <label  class="control-label">Name: </label>
        </td>
        <td>
            <input class="form-control" @bind="@_name" />
        </td>
    </tr>
    <tr>
        <td>
            <label  class="control-label">Description: </label>
        </td>
        <td>
            <textarea class="form-control" @bind="@_description" rows="5"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <label  class="control-label">Auto Assigned? </label>
        </td>
        <td>
            <select class="form-control" @bind="@_isautoassigned">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label  class="control-label">System Role? </label>
        </td>
        <td>
            <select class="form-control" @bind="@_issystem">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="SaveRole">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Admin; } }

    int _roleid;
    string _name = "";
    string _description = "";
    string _isautoassigned = "False";
    string _issystem = "False";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _roleid = Int32.Parse(PageState.QueryString["id"]);
            Role role = await RoleService.GetRoleAsync(_roleid);
            if (role != null)
            {
                _name = role.Name;
                _description = role.Description;
                _isautoassigned = role.IsAutoAssigned.ToString();
                _issystem = role.IsSystem.ToString();
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Role {RoleId} {Error}", _roleid, ex.Message);
            AddModuleMessage("Error Loading Role", MessageType.Error);
        }
    }

    private async Task SaveRole()
    {
        Role role = await RoleService.GetRoleAsync(_roleid);
        role.Name = _name;
        role.Description = _description;
        role.IsAutoAssigned = (_isautoassigned != null && Boolean.Parse(_isautoassigned));
        role.IsSystem = (_issystem != null && Boolean.Parse(_issystem));

        try
        {
            role = await RoleService.UpdateRoleAsync(role);
            await logger.LogInformation("Role Saved {Role}", role);
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Role {Role} {Error}", role, ex.Message);
            AddModuleMessage("Error Saving Role", MessageType.Error);
        }
    }
}
