@namespace Oqtane.Modules.Admin.Users
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject IProfileService ProfileService
@inject ISettingService SettingService

<div class="container">
    <TabStrip>
        <TabPanel Name="Identity">
            @if (profiles != null)
            {
                <div class="container">
                    <form>
                        <div class="form-group row">
                            <div class="col-xl-3">
                                <label class="col-form-label">Username: </label>
                            </div>
                            <div class="col-xl-9">
                                <input class="form-control" @bind="@username" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-3">
                                <label class="col-form-label">Password: </label>
                            </div>
                            <div class="col-xl-9">
                                <input type="password" class="form-control" @bind="@password" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-3">
                                <label class="col-form-label">Confirm Password: </label>
                            </div>
                            <div class="col-xl-9">
                                <input type="password" class="form-control" @bind="@confirm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-3">
                                <label class="col-form-label">Email: </label>
                            </div>
                            <div class="col-xl-9">
                                <input class="form-control" @bind="@email" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-3">
                                <label class="col-form-label">Full Name: </label>
                            </div>
                            <div class="col-xl-9">
                                <input class="form-control" @bind="@displayname" />
                            </div>
                        </div>
                    </form>
                </div>
            }
        </TabPanel>
        <TabPanel Name="Profile">
            @if (profiles != null)
            {
                <div class="container">
                    <form>
                        @foreach (Profile profile in profiles)
                        {
                            var p = profile;
                            if (p.Category != category)
                            {
                                <div class="form-group" style="text-align: center;">
                                    @p.Category
                                </div>
                                category = p.Category;
                            }
                            <div class="form-group row">
                                <div class="col-xl-3">
                                    <label class="col-form-label" for="@p.Name">@p.Title: </label>
                                </div>
                                <div class="col-xl-9">
                                    <input class="form-control" maxlength="@p.MaxLength" placeholder="@p.Description" @onchange="@(e => ProfileChanged(e, p.Name))" />
                                </div>
                            </div>
                        }
                    </form>
                </div>
            }
        </TabPanel>
    </TabStrip>
    <div class="container">
        <button type="button" class="btn btn-primary" @onclick="SaveUser">Save</button>
        <NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
    </div>
</div>

@code {
    private string username = string.Empty;
    private string password = string.Empty;
    private string confirm = string.Empty;
    private string email = string.Empty;
    private string displayname = string.Empty;
    private List<Profile> profiles;
    private Dictionary<string, string> settings;
    private string category = string.Empty;

    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Admin;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            profiles = await ProfileService.GetProfilesAsync(ModuleState.SiteId);
            settings = new Dictionary<string, string>();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading User Profile {Error}", ex.Message);
            AddModuleMessage("Error Loading User Profile", MessageType.Error);
        }
    }

    private async Task SaveUser()
    {
        try
        {
            if (username != string.Empty && password != string.Empty && confirm != string.Empty && email != string.Empty)
            {
                if (password == confirm)
                {
                    var user = new User();
                    user.SiteId = PageState.Site.SiteId;
                    user.Username = username;
                    user.Password = password;
                    user.Email = email;
                    user.DisplayName = string.IsNullOrWhiteSpace(displayname) ? username : displayname;
                    user.PhotoFileId = null;

                    user = await UserService.AddUserAsync(user);

                    if (user != null)
                    {
                        await SettingService.UpdateUserSettingsAsync(settings, user.UserId);
                        await logger.LogInformation("User Created {User}", user);
                        NavigationManager.NavigateTo(NavigateUrl());
                    }
                    else
                    {
                        await logger.LogError("Error Adding User {Username} {Email}", username, email);
                        AddModuleMessage("Error Adding User. Please Ensure Password Meets Complexity Requirements And Username Is Not Already In Use.", MessageType.Error);
                    }
                }
                else
                {
                    AddModuleMessage("Passwords Entered Do Not Match", MessageType.Warning);
                }
            }
            else
            {
                AddModuleMessage("You Must Provide A Username, Password, and Email Address", MessageType.Warning);
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Adding User {Username} {Email} {Error}", username, email, ex.Message);
            AddModuleMessage("Error Adding User", MessageType.Error);
        }
    }

    private void ProfileChanged(ChangeEventArgs e, string SettingName)
    {
        var value = (string)e.Value;
        settings = SettingService.SetSetting(settings, SettingName, value);
    }

}
