@namespace Oqtane.Modules.Admin.UserProfile
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject INotificationService NotificationService
@inject IStringLocalizer<Add> Localizer

@if (PageState.User != null)
{
    <table class="table table-borderless">
        <tr>
            <td>
                <Label For="to" HelpText="Enter the username you wish to send a message to" ResourceKey="To">To: </Label>
            </td>
            <td>
                <input id="to" class="form-control" @bind="@username" />
            </td>
        </tr>
        <tr>
            <td>
                <Label For="subject" HelpText="Enter the subject of the message" ResourceKey="Subject">Subject: </Label>
            </td>
            <td>
                <input id="subject" class="form-control" @bind="@subject" />
            </td>
        </tr>
        <tr>
            <td>
                <Label For="message" HelpText="Enter the message" ResourceKey="Message">Message: </Label>
            </td>
            <td>
                <textarea id="message" class="form-control" @bind="@body" rows="5" />
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary" @onclick="Send">@Localizer["Send"]</button>
    <NavLink class="btn btn-secondary" href="@NavigateUrl()">@Localizer["Cancel"]</NavLink>
}

@code {
    private string username = "";
    private string subject = "";
    private string body = "";

    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.View;

    public override string Title => "Send Notification";

    private async Task Send()
    {
        try
        {
            var user = await UserService.GetUserAsync(username, PageState.Site.SiteId);
            if (user != null)
            {
                var notification = new Notification(PageState.Site.SiteId, PageState.User, user, subject, body, null);
                notification = await NotificationService.AddNotificationAsync(notification);
                await logger.LogInformation("Notification Created {Notification}", notification);
                NavigationManager.NavigateTo(NavigateUrl());
            }
            else
            {
                AddModuleMessage(Localizer["User Does Not Exist. Please Verify That The Username Provided Is Correct."], MessageType.Warning);
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Adding Notification {Error}", ex.Message);
            AddModuleMessage(Localizer["Error Adding Notification"], MessageType.Error);
        }
    }

}
