@inject IInstallationService InstallationService
@inject IJSRuntime JSRuntime
@inject SiteState SiteState

@if (_initialized)
{
    <div style="@_display">
        @if (!_installation.Success)
        {
            <Installer />
        }
        else
        {
            @if (string.IsNullOrEmpty(_installation.Message))
            {
                <CascadingAuthenticationState>
                    <CascadingValue Value="@PageState">
                        <SiteRouter Runtime="@Runtime" RenderMode="@RenderMode" OnStateChange="@ChangeState" />
                    </CascadingValue>
                </CascadingAuthenticationState>
            }
            else
            {
                <div class="app-alert">
                    @_installation.Message
                </div>
            }
        }
    </div>
}

@code {
    private bool _initialized = false;
    private string _display = "display: none;";
    private Installation _installation = new Installation { Success = false, Message = "" };
    private string Runtime = "";
    private string RenderMode = "";

    private PageState PageState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _installation = await InstallationService.IsInstalled();
        if (_installation.Alias != null)
        {
            SiteState.Alias = _installation.Alias;
        }
        else
        {
            _installation.Message = "Site Not Configured Correctly - No Matching Alias Exists For Host Name";
        }
        _initialized = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var interop = new Interop(JSRuntime);
            SiteState.AntiForgeryToken = await interop.GetElementByName(Constants.RequestVerificationToken);
            Runtime = await interop.GetElementByName("app_runtime");
            RenderMode = await interop.GetElementByName("app_rendermode");
            _display = "";
            StateHasChanged();
        }
    }

    private void ChangeState(PageState pageState)
    {
        PageState = pageState;
        StateHasChanged();
    }
}
