@namespace Oqtane.Modules.Admin.Sites
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IAliasService AliasService
@inject ISiteService SiteService

@if (sites == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Text="Add Site" />

    <Pager Items="@sites">
        <Header>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Name</th>
        </Header>
        <Row>
            <td><ActionLink Action="Edit" Parameters="@($"id=" + context.AliasId.ToString())" /></td>
            <td><ActionDialog Header="Delete Site" Message="@("Are You Sure You Wish To Delete The " + context.Name + " Site?")" Action="Delete" Security="SecurityAccessLevel.Admin" Class="btn btn-danger" OnClick="@(async () => await DeleteSite(context))" /></td>
            <td><a href="@(scheme + context.Name)">@context.Name</a></td>
        </Row>
    </Pager>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Host; } }

    List<Alias> sites;
    string scheme;

    protected override async Task OnParametersSetAsync()
    {
        Uri uri = new Uri(NavigationManager.Uri);
        scheme = uri.Scheme + "://";

        List<Alias> aliases = await AliasService.GetAliasesAsync();
        sites = new List<Alias>();
        foreach (Alias alias in aliases)
        {
            if (!sites.Exists(item => item.TenantId == alias.TenantId && item.SiteId == alias.SiteId))
            {
                sites.Add(alias);
            }
        }
    }

    private async Task DeleteSite(Alias Alias)
    {
        try
        {
            if (Alias.SiteId != PageState.Site.SiteId || Alias.TenantId != PageState.Site.TenantId)
            {
                await SiteService.DeleteSiteAsync(Alias.SiteId, Alias);
                await Log(Alias, LogLevel.Information, "", null, "Site Deleted {SiteId}", Alias.SiteId);
                List<Alias> aliases = await AliasService.GetAliasesAsync();
                foreach (Alias alias in aliases.Where(item => item.SiteId == Alias.SiteId && item.TenantId == Alias.TenantId).ToList())
                {
                    await AliasService.DeleteAliasAsync(alias.AliasId);
                }
                NavigationManager.NavigateTo(NavigateUrl(Reload.Site));
            }
            else
            {
                AddModuleMessage("You Can Not Delete The Current Site", MessageType.Warning);
            }
        }
        catch (Exception ex)
        {
            await Log(Alias, LogLevel.Error, "", ex, "Error Deleting Site {SiteId} {Error}", Alias.SiteId, ex.Message);
            AddModuleMessage("Error Deleting Site", MessageType.Error);
        }
    }
}