@namespace Oqtane.Modules.Admin.Sites
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IAliasService AliasService

@if (sites == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Text="Add Site" Style="float: right; margin: 10px;" />

    <Pager Items="@sites">
        <Header>
            <th>Name</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </Header>
        <Row>
            <td><a href="@(scheme + context.Name)">@context.Name</a></td>
            <td><ActionLink Action="Edit" Parameters="@($"id=" + context.AliasId.ToString())" /></td>
            <td><ActionLink Action="Delete" Parameters="@($"id=" + context.AliasId.ToString())" Class="btn btn-danger" /></td>
        </Row>
    </Pager>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Host; } }

    List<Alias> sites;
    string scheme;

    protected override void OnInitialized()
    {
        Uri uri = new Uri(NavigationManager.Uri);
        scheme = uri.Scheme + "://";

        sites = new List<Alias>();
        foreach (Alias alias in PageState.Aliases.OrderBy(item => item.Name))
        {
            if (!sites.Exists(item => item.TenantId == alias.TenantId && item.SiteId == alias.SiteId))
            {
                sites.Add(alias);
            }
        }
    }
}