@using Microsoft.AspNetCore.Http
@using Oqtane.Services
@using System.Net
@namespace Oqtane.Modules.Admin.SearchResults
@inherits ModuleBase
@inject ISearchResultsService SearchResultsService
@inject IStringLocalizer<Index> Localizer
@inject IHttpContextAccessor HttpContext

<div class="search-result-container">
    <div class="row">
        <div class="col">
            <form method="post" @formname="SearchInputForm" @onsubmit="@(async () => await Search())" data-enhance>
                <div class="input-group mb-3">
                    <span class="input-group-text">@Localizer["SearchPrefix"]</span>
                    <input type="hidden" name="@Constants.RequestVerificationToken" value="@SiteState.AntiForgeryToken" />
                    <input type="text" name="keywords" class="form-control shadow-none" maxlength="50"
                            aria-label="Keywords"
                            placeholder="@Localizer["SearchPlaceholder"]"
                            @bind-value="_keywords">
                    <button class="btn btn-primary shadow-none" type="submit">@Localizer["Search"]</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12  mb-3">
            @if (_loading)
            {
                <div class="app-progress-indicator"></div>
            }
            else
            {
                @if (_searchResults != null && _searchResults.Results != null)
                {
                    if (_searchResults.Results.Any())
                    {
                        <Pager Items="@_searchResults?.Results"
                               Format="Grid"
                               PageSize="@_pageSize.ToString()"
                               DisplayPages="@_displayPages.ToString()"
                               CurrentPage="@_currentPage.ToString()"
                               Columns="1"
                               Toolbar="Bottom"
                               Parameters="@($"q={_keywords}")">
                            <Row>
                                <div class="search-item">
                                    <h4 class="mb-1"><a href="@context.Url">@context.Title</a></h4>
                                    <p class="mb-0 text-muted">@((MarkupString)context.Snippet)</p>
                                </div>
                            </Row>
                        </Pager>
                    }
                    else
                    {
                        <div class="alert alert-info show mt-3" role="alert">
                            @Localizer["NoResult"]
                        </div>
                    }
                }
                <div class="clearfix"></div>
            }
        </div>
    </div>
</div>
@code {
    public override string RenderMode => RenderModes.Static;
    private const int SearchDefaultPageSize = 10;

    private SearchSortDirections _searchSortDirection = SearchSortDirections.Descending; //default sort by
    private SearchSortFields _searchSortField = SearchSortFields.Relevance;
    private string _keywords;
    private bool _loading;
    private SearchResults _searchResults;
    private int _currentPage = 0;
    private int _pageSize = SearchDefaultPageSize;
    private int _displayPages = 7;

    protected override async Task OnInitializedAsync()
    {
        if (ModuleState.Settings.ContainsKey("PageSize"))
        {
            _pageSize = int.Parse(ModuleState.Settings["PageSize"]);
        }

        if (PageState.QueryString.ContainsKey("q"))
        {
            _keywords = WebUtility.UrlDecode(PageState.QueryString["q"]);
        }

        if (!string.IsNullOrEmpty(_keywords))
        {
            await PerformSearch();
        }
    }

    private async Task Search()
    {
        _keywords = HttpContext.HttpContext.Request.Form["keywords"];
        if (string.IsNullOrEmpty(_keywords))
        {
            AddModuleMessage(Localizer["MissingKeywords"], MessageType.Warning);
        }
        else
        {
            ClearModuleMessage();

            _currentPage = 0;
            await PerformSearch();
        }
    }

    private async Task PerformSearch()
    {
        _loading = true;
        StateHasChanged();

        var searchQuery = new SearchQuery
            {
                SiteId = PageState.Site.SiteId,
                Alias = PageState.Alias,
                User = PageState.User,
                Keywords = _keywords,
                SortDirection = _searchSortDirection,
                SortField = _searchSortField,
                PageIndex = 0,
                PageSize = int.MaxValue
            };

        _searchResults = await SearchResultsService.SearchAsync(PageState.ModuleId, searchQuery);

        _loading = false;
        StateHasChanged();
    }
}