@namespace Oqtane.Modules.Admin.ModuleDefinitions
@inherits ModuleBase
@inject IModuleDefinitionService ModuleDefinitionService

@if (moduledefinitions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Text="Install Module" Style="float: right; margin: 10px;" />

    <Pager Items="@moduledefinitions">
        <Header>
            <th>Name</th>
            <th>Version</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </Header>
        <Row>
            <td>@context.Name</td>
            <td>@context.Version</td>
            <td><ActionLink Action="Edit" Parameters="@($"id=" + context.ModuleDefinitionId.ToString())" /></td>
            <td><ActionLink Action="Delete" Parameters="@($"id=" + context.ModuleDefinitionId.ToString())" Class="btn btn-danger" /></td>
        </Row>
    </Pager>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Host; } }

    List<ModuleDefinition> moduledefinitions;

    protected override async Task OnInitializedAsync()
    {
        moduledefinitions = await ModuleDefinitionService.GetModuleDefinitionsAsync(PageState.Site.SiteId);
    }
}