@namespace Oqtane.Modules.Admin.Pages
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IPageService PageService
@inject IThemeService  ThemeService

    <table class="table table-borderless">
        <tr>
            <td>
                <label for="Name" class="control-label">Name: </label>
            </td>
            <td>
                <input class="form-control" @bind="@name" readonly />
            </td>
        </tr>
        <tr>
            <td>
                <label for="Name" class="control-label">Path: </label>
            </td>
            <td>
                <input class="form-control" @bind="@path" readonly />
            </td>
        </tr>
        <tr>
            <td>
                <label for="Name" class="control-label">Parent: </label>
            </td>
            <td>
                <select class="form-control" @bind="@parentid" readonly>
                    <option value="">&lt;Select Parent&gt;</option>
                    @foreach (Page p in PageState.Pages)
                    {
                        <option value="@p.PageId">@p.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Name" class="control-label">Navigation? </label>
            </td>
            <td>
                <select class="form-control" @bind="@isnavigation" readonly>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Name" class="control-label">Default Mode? </label>
            </td>
            <td>
                <select class="form-control" @bind="@mode" readonly>
                    <option value="view">View Mode</option>
                    <option value="edit">Edit Mode</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Name" class="control-label">Theme: </label>
            </td>
            <td>
                <select class="form-control" @bind="@themetype" readonly>
                    <option value="">&lt;Select Theme&gt;</option>
                    @foreach (KeyValuePair<string, string> item in themes)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Name" class="control-label">Layout: </label>
            </td>
            <td>
                <select class="form-control" @bind="@layouttype" readonly>
                    <option value="">&lt;Select Layout&gt;</option>
                    @foreach (KeyValuePair<string, string> panelayout in panelayouts)
                    {
                        <option value="@panelayout.Key">@panelayout.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Name" class="control-label">Icon: </label>
            </td>
            <td>
                <input class="form-control" @bind="@icon" readonly />
            </td>
        </tr>
        <tr>
            <td>
                <label for="Name" class="control-label">Is Deleted? </label>
            </td>
            <td>
                <select class="form-control" @bind="@isdeleted" readonly>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </td>
        </tr>
    </table>
<button type="button" class="btn btn-danger" @onclick="DeletePage">Delete</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
<AuditInfo CreatedBy="@createdby" CreatedOn="@createdon" ModifiedBy="@modifiedby" ModifiedOn="@modifiedon" DeletedBy="@deletedby" DeletedOn="@deletedon"></AuditInfo>

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Admin; } }

    Dictionary<string, string> themes = new Dictionary<string, string>();
    Dictionary<string, string> panelayouts = new Dictionary<string, string>();

    int PageId;
    string name;
    string path;
    string parentid = "";
    string isnavigation;
    string mode;
    string themetype;
    string layouttype;
    string icon;
    string permissions;
    string createdby;
    DateTime createdon;
    string modifiedby;
    DateTime modifiedon;
    string deletedby;
    DateTime? deletedon;
    string isdeleted;

    protected override void OnInitialized()
    {
        try
        {
            themes = ThemeService.GetThemeTypes(PageState.Themes);
            panelayouts = ThemeService.GetPaneLayoutTypes(PageState.Themes);

            PageId = Int32.Parse(PageState.QueryString["id"]);
            Page page = PageState.Pages.Where(item => item.PageId == PageId).FirstOrDefault();
            if (page != null)
            {
                name = page.Name;
                path = page.Path;
                isnavigation = page.IsNavigation.ToString();
                mode = (page.EditMode) ? "edit" : "view";
                themetype = page.ThemeType;
                layouttype = page.LayoutType;
                icon = page.Icon;
                permissions = page.Permissions;
                createdby = page.CreatedBy;
                createdon = page.CreatedOn;
                modifiedby = page.ModifiedBy;
                modifiedon = page.ModifiedOn;
                deletedby = page.DeletedBy;
                deletedon = page.DeletedOn;
                isdeleted = page.IsDeleted.ToString();
            }
        }
        catch (Exception ex)
        {
            ModuleInstance.AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    private async Task DeletePage()
    {
        try
        {
            await PageService.DeletePageAsync(Int32.Parse(PageState.QueryString["id"]));
            NavigationManager.NavigateTo(NavigateUrl("", Reload.Site));
        }
        catch (Exception ex)
        {
            ModuleInstance.AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}
