@using Microsoft.AspNetCore.Components.Routing
@using Oqtane.Modules.Controls
@using Oqtane.Models
@using Oqtane.Services
@using Oqtane.Modules
@using Oqtane.Shared
@using Oqtane.Security
@namespace Oqtane.Modules.Admin.Pages
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IPageService PageService
@inject IThemeService  ThemeService

<ModuleMessage Message="@message" />

<table class="table table-borderless">
    <tr>
        <td>
            <label for="Name" class="control-label">Name: </label>
        </td>
        <td>
            <input class="form-control" @bind="@name" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Path: </label>
        </td>
        <td>
            <input class="form-control" @bind="@path" readonly />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Parent: </label>
        </td>
        <td>
            <select class="form-control" @onchange="(e => ParentChanged(e))">
                <option value="">&lt;Site Root&gt;</option>
                @foreach (Page page in pages)
                {
                    <option value="@(page.PageId)">@(new string('-', page.Level * 2))@(page.Name)</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Move : </label>
        </td>
        <td>
            <select class="form-control" @bind="@insert">
                <option value="">&lt;Maintain Current Location&gt;</option>
                <option value="<<">To Beginning</option>
                @if (children != null && children.Count > 0)
                {
                    <option value="<">Before</option>
                    <option value=">">After</option>
                }
                <option value=">>" selected>To End</option>
            </select>
            @if (children != null && children.Count > 0 && (insert == "<" || insert == ">"))
            {
                <select class="form-control" @bind="@childid">
                    <option value="-1">&lt;Select Page&gt;</option>
                    @foreach (Page page in children)
                    {
                        <option value="@(page.PageId)">@(page.Name)</option>
                    }
                </select>
            }
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Navigation? </label>
        </td>
        <td>
            <select class="form-control" @bind="@isnavigation">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Edit Mode? </label>
        </td>
        <td>
            <select class="form-control" @bind="@editmode">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Theme: </label>
        </td>
        <td>
            <select class="form-control" @bind="@themetype">
                <option value="">&lt;Select Theme&gt;</option>
                @foreach (KeyValuePair<string, string> item in themes)
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Layout: </label>
        </td>
        <td>
            <select class="form-control" @bind="@layouttype">
                <option value="">&lt;Select Layout&gt;</option>
                @foreach (KeyValuePair<string, string> panelayout in panelayouts)
                {
                    <option value="@panelayout.Key">@panelayout.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Icon: </label>
        </td>
        <td>
            <input class="form-control" @bind="@icon" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Permissions: </label>
        </td>
        <td>
            <PermissionGrid EntityName="Page" Permissions="@permissions" @ref="permissiongrid" @ref:suppressField />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="SavePage">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
<AuditInfo CreatedBy="@createdby" CreatedOn="@createdon" ModifiedBy="@modifiedby" ModifiedOn="@modifiedon"></AuditInfo>

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Admin; } }

    string message = "";

    Dictionary<string, string> themes = new Dictionary<string, string>();
    Dictionary<string, string> panelayouts = new Dictionary<string, string>();

    List<Page> pages;
    int PageId;
    string name;
    string path;
    string parentid;
    string insert = "";
    List<Page> children;
    int childid = -1;
    string isnavigation;
    string editmode;
    string themetype;
    string layouttype;
    string icon;
    string permissions;
    string createdby;
    DateTime createdon;
    string modifiedby;
    DateTime modifiedon;

    PermissionGrid permissiongrid;

    protected override void OnInitialized()
    {
        try
        {
            pages = PageState.Pages.Where(item => item.IsNavigation).ToList();
            children = PageState.Pages.Where(item => item.ParentId == null && item.IsNavigation).OrderBy(item => item.Order).ToList();

            themes = ThemeService.GetThemeTypes(PageState.Themes);
            panelayouts = ThemeService.GetPaneLayoutTypes(PageState.Themes);

            PageId = Int32.Parse(PageState.QueryString["id"]);
            Page page = PageState.Pages.Where(item => item.PageId == PageId).FirstOrDefault();
            if (page != null)
            {
                name = page.Name;
                path = page.Path;
                if (page.ParentId == null)
                {
                    parentid = "";
                }
                else
                {
                    parentid = page.ParentId.ToString();
                }
                isnavigation = page.IsNavigation.ToString();
                editmode = page.EditMode.ToString();
                themetype = page.ThemeType;
                layouttype = page.LayoutType;
                icon = page.Icon;
                permissions = page.Permissions;
                createdby = page.CreatedBy;
                createdon = page.CreatedOn;
                modifiedby = page.ModifiedBy;
                modifiedon = page.ModifiedOn;
            }
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }

    private void ParentChanged(ChangeEventArgs e)
    {
        try
        {
            parentid = (string)e.Value;
            if (string.IsNullOrEmpty(parentid))
            {
                children = PageState.Pages.Where(item => item.ParentId == null && item.IsNavigation).OrderBy(item => item.Order).ToList();
            }
            else
            {
                children = PageState.Pages.Where(item => item.ParentId == int.Parse(parentid) && item.IsNavigation).OrderBy(item => item.Order).ToList();
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }

    private async Task SavePage()
    {
        try
        {
            Page page = PageState.Page;
            int? currentparentid = page.ParentId;
            page.PageId = Int32.Parse(PageState.QueryString["id"]);
            page.Name = name;
            if (string.IsNullOrEmpty(parentid))
            {
                page.ParentId = null;
                page.Path = page.Name.ToLower();
            }
            else
            {
                page.ParentId = Int32.Parse(parentid);
                Page parent = PageState.Pages.Where(item => item.ParentId == page.ParentId).FirstOrDefault();
                page.Path = parent.Path + "/" + page.Name.ToLower();
            }
            if (insert != "")
            {
                Page child;
                switch (insert)
                {
                    case "<<":
                        page.Order = 0;
                        break;
                    case "<":
                        child = PageState.Pages.Where(item => item.PageId == childid).FirstOrDefault();
                        page.Order = child.Order - 1;
                        break;
                    case ">":
                        child = PageState.Pages.Where(item => item.PageId == childid).FirstOrDefault();
                        page.Order = child.Order + 1;
                        break;
                    case ">>":
                        page.Order = int.MaxValue;
                        break;
                }
            }
            page.IsNavigation = (isnavigation == null ? true : Boolean.Parse(isnavigation));
            page.EditMode = (editmode == null ? true : Boolean.Parse(editmode));
            page.ThemeType = themetype;
            page.LayoutType = (layouttype == null ? "" : layouttype);
            page.Icon = (icon == null ? "" : icon);
            Type type;
            if (!string.IsNullOrEmpty(layouttype))
            {
                type = Type.GetType(layouttype);
            }
            else
            {
                type = Type.GetType(themetype);
            }
            System.Reflection.PropertyInfo property = type.GetProperty("Panes");
            page.Panes = (string)property.GetValue(Activator.CreateInstance(type), null);
            page.Permissions = permissiongrid.GetPermissions();
            await PageService.UpdatePageAsync(page);
            await PageService.UpdatePageOrderAsync(page.SiteId, page.ParentId);
            await PageService.UpdatePageOrderAsync(page.SiteId, currentparentid);

            PageState.Reload = Constants.ReloadSite;
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }
}
