@namespace Oqtane.Modules.Admin.Upgrade
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IFileService FileService
@inject IPackageService PackageService
@inject IInstallationService InstallationService
@inject IStringLocalizer<Index> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@if (_initialized)
{
    <TabStrip>
        <TabPanel Name="Download" ResourceKey="Download">
            @if (_versions.Count > 0 && _upgradeable)
            {
                <div class="container">
                    <div class="row mb-1 align-items-center">
                        <Label Class="col-sm-3" For="version" HelpText="Select the framework upgrade version" ResourceKey="Version">Version: </Label>
                        <div class="col-sm-9">
                            <select id="backup" class="form-select" @bind="@_version">
                                @foreach (var version in _versions)
                                {
                                    <option value="@version">@version</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-1 align-items-center">
                        <Label Class="col-sm-3" For="backup" HelpText="Specify if you want to backup files during the upgrade process. Disabling this option will reduce the time required for the upgrade." ResourceKey="Backup">Backup Files? </Label>
                        <div class="col-sm-9">
                            <select id="backup" class="form-select" @bind="@_backup">
                                <option value="True">@SharedLocalizer["Yes"]</option>
                                <option value="False">@SharedLocalizer["No"]</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                @if (!_downloaded)
                {
                    <button type="button" class="btn btn-primary" @onclick=@(async () => await Download(Constants.PackageId, _version))>@SharedLocalizer["Download"] @_version</button>
                }
                else
                {
                    <button type="button" class="btn btn-success" @onclick="Upgrade">@SharedLocalizer["Upgrade"]</button>
                }
            }
            else
            {
                <ModuleMessage Type="MessageType.Info" Message=@Localizer["Message.Text"]></ModuleMessage>
            }
        </TabPanel>
        <TabPanel Name="Upload" ResourceKey="Upload">
            <div class="container">
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" HelpText="Upload A Framework Package And Then Select Upgrade" ResourceKey="Framework">Framework: </Label>
                    <div class="col-sm-9">
                        <FileManager Folder="@Constants.PackagesFolder" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" HelpText="Specify if you want to backup files during the upgrade process. Disabling this option will reduce the time required for the upgrade." ResourceKey="Backup">Backup Files? </Label>
                    <div class="col-sm-9">
                        <select id="backup" class="form-select" @bind="@_backup">
                            <option value="True">@SharedLocalizer["Yes"]</option>
                            <option value="False">@SharedLocalizer["No"]</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <button type="button" class="btn btn-success" @onclick="Upgrade">@SharedLocalizer["Upgrade"]</button>
        </TabPanel>
    </TabStrip>
}

@code {
    private bool _initialized = false;
    private bool _downloaded = false;
    private List<string> _versions = new List<string>();
    private string _version;
    private bool _upgradeable = false;
    private string _backup = "True";

    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Host;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (NavigationManager.BaseUri.Contains("localhost:"))
            {
                AddModuleMessage(Localizer["Localhost.Text"], MessageType.Info);
            }
            else
            {
                AddModuleMessage(Localizer["Disclaimer.Text"], MessageType.Warning);

                var packages = await PackageService.GetPackagesAsync("framework", "", "", "");
                if (packages != null)
                {
                    _version = packages.First(item => item.PackageId.StartsWith(Constants.PackageId)).Version;
                    foreach (var version in Constants.ReleaseVersions.Split(','))
                    {
                        if (Version.Parse(version).CompareTo(Version.Parse(Constants.Version)) > 0)
                        {
                            _versions.Add(version);
                        }
                    }
                    _upgradeable = (Version.Parse(_version).CompareTo(Version.Parse(Constants.Version)) > 0);
                }
                _initialized = true;
            }
        }
        catch
        {
            // can be caused by no network connection
        }
    }

    private async Task Upgrade()
    {
        try
        {
            AddModuleMessage(Localizer["Info.Upgrade.Wait"], MessageType.Info);
            ShowProgressIndicator();
            var interop = new Interop(JSRuntime);
            await interop.RedirectBrowser(NavigateUrl(), 10);
            await InstallationService.Upgrade(bool.Parse(_backup));
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Executing Upgrade {Error}", ex.Message);
            AddModuleMessage(Localizer["Error.Upgrade.Execute"], MessageType.Error);
        }
    }

    private async Task Download(string packageid, string version)
    {
        try
        {
            ShowProgressIndicator();
            await PackageService.DownloadPackageAsync(packageid, version);
            await PackageService.DownloadPackageAsync(Constants.UpdaterPackageId, version);
            _downloaded = true;
            HideProgressIndicator();
            AddModuleMessage(Localizer["Success.Framework.Download"], MessageType.Success);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Downloading Framework Package {Error}", ex.Message);
            HideProgressIndicator();
            AddModuleMessage(Localizer["Error.Framework.Download"], MessageType.Error);
        }
    }
}
