@namespace Oqtane.Modules.Controls
@inherits ModuleBase
@attribute [OqtaneIgnore]
@inject IJSRuntime JsRuntime

<div class="row" style="margin-bottom: 50px;">
    <div class="col">
        <TabStrip>
            <TabPanel Name="Rich" Heading="Rich Text Editor">
                @if (_filemanagervisible)
                {
                    <FileManager @ref="_fileManager" Filter="@Constants.ImageFiles" />
                    @((MarkupString)_message)
                    <br />
                }
                <div class="row justify-content-center" style="margin-bottom: 20px;">
                    <button type="button" class="btn btn-secondary" @onclick="RefreshRichText">Synchronize Content</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" @onclick="InsertImage">Insert Image</button>
                    @if (_filemanagervisible)
                    {
                        @((MarkupString)"&nbsp;&nbsp;")
                        <button type="button" class="btn btn-secondary" @onclick="CloseFileManager">Close</button>
                    }
                </div>
                <div class="row">
                    <div class="col">
                        <div @ref="@_toolBar">
                            @if (ToolbarContent != null)
                            {
                                @ToolbarContent
                            }
                            else
                            {
                                <select class="ql-header">
                                    <option selected=""></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                            }
                        </div>
                        <div @ref="@_editorElement">
                        </div>
                    </div>
                </div>
            </TabPanel>
            <TabPanel Name="Raw" Heading="Raw HTML Editor">
                <div class="row justify-content-center" style="margin-bottom: 20px;">
                    <button type="button" class="btn btn-secondary" @onclick="RefreshRawHtml">Synchronize Content</button>
                </div>
                @if (ReadOnly)
                {
                    <textarea class="form-control" @bind="@_content" rows="10" readonly></textarea>
                }
                else
                {
                    <textarea class="form-control" @bind="@_content" rows="10"></textarea>
                }
            </TabPanel>
        </TabStrip>
    </div>
</div>

@code {
    private ElementReference _editorElement;
    private ElementReference _toolBar;
    private bool _filemanagervisible = false;
    private FileManager _fileManager;
    private string _original = string.Empty;
    private string _content = string.Empty;
    private string _message = string.Empty;

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; } = false;

    [Parameter]
    public string Placeholder { get; set; } = "Enter Your Content...";

    // parameters only applicable to rich text editor
    [Parameter]
    public RenderFragment ToolbarContent { get; set; }

    [Parameter]
    public string Theme { get; set; } = "snow";

    [Parameter]
    public string DebugLevel { get; set; } = "info";

    protected override void OnInitialized()
    {
        _original = Content;

        _content = _original;
        if (string.IsNullOrEmpty(_content))
        {
            _content = Placeholder;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RichTextEditorInterop.CreateEditor(
                JsRuntime,
                _editorElement,
                _toolBar,
                ReadOnly,
                Placeholder,
                Theme,
                DebugLevel);

            await RichTextEditorInterop.LoadEditorContent(
                JsRuntime,
                _editorElement, _original);
        }
    }

    public async Task<string> GetText()
    {
        return await RichTextEditorInterop.GetText(
            JsRuntime,
            _editorElement);
    }

    public async Task<string> GetHtml()
    {
        if (_original != _content)
        {
            // raw html content changed
            return _content;
        }
        else
        {
            // return rich text content
            return await RichTextEditorInterop.GetHtml(
                JsRuntime,
                _editorElement);
        }
    }

    public async Task<string> GetContent()
    {
        return await RichTextEditorInterop.GetContent(
            JsRuntime,
            _editorElement);
    }

    public async Task EnableEditor(bool mode)
    {
        await RichTextEditorInterop.EnableEditor(
            JsRuntime,
            _editorElement, mode);
    }

    public async Task InsertImage()
    {
        if (_filemanagervisible)
        {
            var fileid = _fileManager.GetFileId();
            if (fileid != -1)
            {
                await RichTextEditorInterop.InsertImage(
                    JsRuntime,
                    _editorElement, ContentUrl(fileid));
                _filemanagervisible = false;
                _message = string.Empty;
            }
            else
            {
                _message = "<br /><div class=\"alert alert-warning\" role=\"alert\">You Must Select An Image To Insert</div>";
            }
        }
        else
        {
            _filemanagervisible = true;
            _message = string.Empty;
        }
        StateHasChanged();
    }

    public void CloseFileManager()
    {
        _filemanagervisible = false;
        _message = string.Empty;
        StateHasChanged();
    }

    public async Task RefreshRichText()
    {
        await RichTextEditorInterop.LoadEditorContent(
            JsRuntime,
            _editorElement, _content);
    }

    public async Task RefreshRawHtml()
    {
        _content = await RichTextEditorInterop.GetHtml(
            JsRuntime,
            _editorElement);
        StateHasChanged();
    }
}
